DATABASE_URL=mysql://{{ project_name }}:"{{ db_pass }}"@{{ hostvars[groups['db'][0]]['ansible_facts']['eth1']['ipv4']['address'] }}:3306/{{ project_name }}
CORS_ALLOW_ORIGIN=^https?://(localhost|127\\.0\\.0\\.1)(:[0-9]+)?$
APP_DEBUG=0
APP_SECRET={{ secret_key }}
APP_ENV=prod
