server {
    server_name _;
    listen {{ ansible_eth1.ipv4.address }}:80;

    client_max_body_size 10M;
    keepalive_timeout    15;

    # Logging
    #access_log                    /var/log/nginx/example.com.access.log;
    #error_log                     /var/log/nginx/example.com.error.log;

    # Site root
    root                          /var/www/html/{{ project_name }}/public;
    index                         index.php;

    # Bolt specific
    include                       global/bolt.conf;

    # PHP FPM
    include                       global/php-fpm.conf;

    # Restrictions
    include                       global/restrictions.conf;
}
