upstream {{ project_name }} {
{% for host in upstream_hosts %}
    server {{ hostvars[host]['ansible_facts']['eth1']['ipv4']['address'] }}:{{ upstream_port }};
{% endfor %}

{% if keepalive_upstream_enabled %}
    keepalive {{ keepalive_upstream_count }};
{% endif %}
}
